:root {
    --color-primary: #3399ff;
    --color-secendery: #00d9ff;
    --color-accend: #ff3300;
    --color-heding: #330066;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --input-border-color: #ccc;
    --input-border-radies: 30px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/* typogrephy */
html {
    font-size: 62.5%;
}
body {
    font-family:'inter', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-body);
    line-height: 1.5;
    margin-top: 0;
}
h1, h2, h3 {
    color: var(--color-heding);
    margin-bottom: 1.5rem;
}
h1 {
    font-size: 7rem;
}    
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
@media screen and (min-width: 1024px)
    {
        body {
            font-size: 1.8rem;
        }
        h1 {
            font-size: 8rem;
        }
        h2 {
            font-size: 4rem ;

        }
        h3 {
            font-size: 2.4rem;
        }
    }
/* links */
a {
    text-decoration: none;
}
.link-arrow {
    color: var(--color-accend);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.link-arrow::after {
    content:'-->' ;
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after {
    margin-left: 10px;
}
@media screen and (min-width: 1024px)
{
    .link-arrow{
        font-size: 1.5rem;
    }
}
/* badges */

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;    
    padding: 0.7rem 2rem;
    white-space: nowrap;
    color: #ffffff;
}
.badge--primary {
    background-color: var(--color-primary);
}
.badge--secandary {
    background-color: var(--color-secendery);
}
.badge-small {
    font-size: 1.6rem;
}
@media screen and (min-width: 1024px) 

    {
        .badge {
        font-size: 1.5rem;
        }
        .badge-small {
        font-size: 1.2rem;
        }
    }

/* list */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-heding);
}
.list--inline .list__item {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 2rem;
}
.list--tick {
    list-style-image: url(/images/tick.svg);
    padding-left: 3rem;
}
.list--tick .list__item {
    font-size: 2.4rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
    .list--inline .list__item{
        font-size: 1.5rem;
    }
    .list--tick .list__item {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        padding-left: 0;
    }
}
/* icons */

.icon {
    width: 40px;
    height: 40px;
}
.icon--primary {
    fill: var(--color-primary);
}
.icon-containor {
    background-color: #f3f9fa;
    width: 64px;
    height: 68px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 2rem 10rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.btn--primery {
    background-color: var(--color-primary);
    color: white;
}
.btn--primery:hover {
    background-color: #4da6ff;
}
.btn--secendery {
    background-color: var(--color-secendery);
    color: white;
}
.btn--secendery:hover {
    background-color: #54dafc;
}
.btn--accend {
    background-color: var(--color-accend);
    color: white;
}
.btn--accend:hover {
    background-color: #ff5227;
}
.btn--outline {
    background: none;
    border: 2px solid #330066 ;
    color: #330066;
}
.btn--outline:hover {
    background-color: #e4e4e46c;
}
.btn--block {
    width: 100%;
    display: inline-block;
}
@media  screen and (min-width: 1024px) {
    .btn {
        font-size: 1.4rem;
        font-weight: 600;
    }
    
}
/* input */
.input {
    border-radius: var(--input-border-radies);
    border: 2px solid var(--input-border-color) ;
    padding: 2rem 3.5rem ;
    font-size: 2rem;
    color: var(--color-heding);
    outline: none;
}
::placeholder {
    color: var(--input-border-color);
}
.input-group{
    border: 2px solid var(--input-border-color);
    border-radius: 30px;
    display: flex;
}
.input-group .input {
    border: none;
    flex-grow: 1;
    padding: 1.5rem 1.5rem;
}
.input-group .btn {
    padding: 2rem 4rem;
    margin: 4px;
}
@media screen and (min-width: 1024px) {
.input { 
    font-size: 1.8rem;
 }  
}
/* cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #eff2f4;
    overflow: hidden;
}
.card__header,
.card__body {
    padding: 3rem 4rem;
}
.card--primery {
    box-shadow: 0 0 20px 10px #d9e1e5 ;
}
.card--primery .card__header {
    background-color: var(--color-primary);
    color: #ffffff;
}
.card--secandary .card__header {
    background-color: var(--color-secendery);
    color: #ffffff;
}
/* plans */
.plan__name {
    font-size: 2.4rem;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.plan__price {
    font-size: 6rem;
    font-weight: 400;
}
.plan__billing-cycel {
    font-size: 2.4rem;
    opacity: 80%;
    margin-right: 1rem;
}
.plan .card--secandary .badge--secandary {
    background-color: #02cdf1;
}
.plan .card--primery .badge--primary {
    background-color: #126de4;
}
.plan__descreption {
    display: block;
    letter-spacing: 1px;
    font-size: 2rem;
}
.plan .list__item {
 margin-bottom: 2rem;
 letter-spacing: 1px;
}
.plan--populer .card {
    position: relative;
}
.plan--populer .card__header::before {
    content: url(/images/popular.svg);
    width: 40px;
    position: absolute;
    right: 6%;
    top: -6px;
    
}
@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.6rem;
    }
    .plan__price {
        font-size: 5rem;
    }
    .plan__billing-cycel {
        font-size: 1.6rem;
    }
    .plan__descreption {
        font-size: 1.7rem;
    }
    .plan .list__item {
        margin-bottom: 1.5rem;
    }
}
/* media object */
.media {
    display: flex;

}
.media__img {
    padding-top: 8px;
}
.media__body {
    padding: 0 2rem;
}

.media__title {
    margin-top: 0;
}
.media__description {
    margin-top: 0;
}
/* qoutes */ 
.qoute__text {
    color: var(--color-body-darker);
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
    line-height: 3.8rem;
}
.qoute__text::before {
    content: open-quote;
}
.qoute__text::after {
    content: close-quote;
}
.qoute__auther {
    font-size:3rem; 
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0;
}
.quote__organization {
    font-size:2rem;
    color: var(--color-heding);
    opacity: 40%;
}
.qoute__img {
  position: relative;
  top: -5px;
}
@media screen and (min-width: 1024px) {
    .qoute__text  {
        font-size: 2.4rem;
    }
    .qoute__auther {
        font-size: 2.4rem;
    }
    .qoute__organization {
        font-size: 1.6rem;
    }    
}