<section class="block containor block--testamonial">
  <header class="block__header">
    <h2 class="block__heading">What our Costumers Are Saying</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, fuga.</p>
  </header>
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__img">
        <img src="/images/testimonial.jpg" alt="a heppy costumer" />
        <span class="icon-containor icon-containor--accend">
          <svg class="icon icon--small icon--white">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="qoute">
        <p class="qoute__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
          voluptates quaerat eos molestias sed omnis officiis, ab rem molestiae
          repudiandae.
        </p>
        <div class="media">
          <div class="media__img qoute__img">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title qoute__auther">John smith</h3>
            <p class="media__description quote__organization">abc clouding</p>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</section>
