<footer class="block block--dark footer">
    <div class="grid containor footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">PRODUCOTS</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
         <ul class="list">
          <a href="#">WordPress Hosting</a>
          <a href="#">Free Automated WordPress</a>
          <a href="#">Migrations</a>
          <a href="#">Domain Names </a>
          <a href="#">Monthly Web Hosting</a>
         </ul>
         </div> 
      </section> <section class="collapsible   collapsible--expanded footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">COMPANY</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
         <ul class="list">
          <a href="#">About</a>
          <a href="#">Affilates</a>
          <a href="#">Blog</a>
          <a href="#">carris</a>
        
         </ul>
         </div> 
      </section> <section class="collapsible  collapsible--expanded footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
         <ul class="list">
          <a href="#">Contact</a>
          <a href="#">Forumus</a>
          <a href="#">News</a>
          
    
         </ul>
         </div> 
      </section>
      <section class="collapsible collapsible--expanded  footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
         <ul class="list">
          <a href="#">Domain carrier</a>
          <a href="#">Free domain</a>
          <a href="#">Migrations</a>
          <a href="#">Domain Names </a>
      
         </ul>
         </div> 
      </section>
      <section class="footer__brand">
        <img class="footer__img" src="/images/logo.png" alt="">
        <p class="footer__copyright">copy-right by mordechai 2023</p>
      </section>
   </footer>