<div class="block containor">
  <header class="block__header">
    <h2 class="block__heading">hellow world</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam id
      amet, molestiae est itaque dolorum.
    </p>
  </header>
</div>
<div class="block block--dark block--skewed-right">
  <div class="containor">
    <header class="block__header">
      <h2 class="block__heading">hellow world</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam id
        amet, molestiae est itaque dolorum.
      </p>
    </header>
  </div>
</div>
