<section class="containor block block-domain">
  <header class="block__header">
    <h2>The best web hosting starting at pair month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quae.
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input"
      placeholder="Enter your domain name here..."
    />
    <button class="btn btn--accend">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      search
    </button>
  </div>
  <ul class="list block-domain__price">
    <li><div class="badge badge--secandary">.com $9</div></li>
    <li>.sg $7</li>
    <li>.space $12</li>
    <li>.info $14</li>
    <li>.net $6</li>
    <li>.xyz $17</li>
  </ul>
</section>
