<div class="plan">
  <div class="card card--secandary">
    <div class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">$14</span>
      <span class="plan__billing-cycel">/month</span>
      <span class="badge badge--secandary badge--small">10% OFF</span>
      <span class="plan__descreption">Esey start on cloud</span>
    </div>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Unlimitid Websites</li>
        <li class="list__item">Unlimitid Bandwidth</li>
        <li class="list__item">100 GB SSD storage</li>
        <li class="list__item">3 GB RAM</li>
      </ul>
      <span class="btn btn--outline btn--block">buy now</span>
    </div>
  </div>
</div>
