<blockquote class="qoute">
  <p class="qoute__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam voluptates
    quaerat eos molestias sed omnis officiis, ab rem molestiae repudiandae.
  </p>
  <div class="media">
    <div class="media__img qoute__img">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title qoute__auther">John smith</h3>
      <p class="media__description quote__organization">abc clouding</p>
    </div>
  </div>
</blockquote>
