<section class="block block--dark block--skewed-right showcase--block">
    <header class="block__header">
      <h2 class="block__heading">User friendly controle panel</h2>
    </header>
    <div class="grid grid--1x2 containor showcase">
      <img
        class="showcase__img"
        src="/images/ipad.png"
        alt="an prevweu of a website"
      />
     <ul class="list">
      <li>  <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Esay start & media manegment</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            cumque est reprehenderit vel animi nisi iure dolor accusantium
            at quisquam!
          </p>
        </div>
      </div></li> <li>  <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Esay start & media manegment</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            cumque est reprehenderit vel animi nisi iure dolor accusantium
            at quisquam!
          </p>
        </div>
      </div></li> <li>  <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Esay start & media manegment</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            cumque est reprehenderit vel animi nisi iure dolor accusantium
            at quisquam!
          </p>
        </div>
      </div></li>
     </ul>
  </section>
  <section class="block block--dark block--skewed-right showcase--block">
    <header class="block__header">
      <h2 class="block__heading">User friendly controle panel</h2>
    </header>
    <div class="grid grid--1x2 containor showcase">
      <img
        class="showcase__img"
        data-aos="zoom-in-right"
        src="/images/ipad.png"
        alt="an prevweu of a website"
      />
     <ul class="list" data-aos="zoom-in-up">
      <li>  
        <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Esay start & media manegment</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            cumque est reprehenderit vel animi nisi iure dolor accusantium
            at quisquam!
          </p>
        </div>
      </div></li> <li>  <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Esay start & media manegment</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            cumque est reprehenderit vel animi nisi iure dolor accusantium
            at quisquam!
          </p>
        </div>
      </div>
        </li> <li>  <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Esay start & media manegment</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            cumque est reprehenderit vel animi nisi iure dolor accusantium
            at quisquam!
          </p>
        </div>
      </div>
      </li>
     </ul>
    </section>